<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nathan Payne | Freelance UK web developer</title>
    <meta name="description"
        content="Freelance web developer building the front and backends of online business in the UK">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
</head>

<body class="mt-24 bg-white font-mono text-lg text-dark antialiased">

    <header class="fixed top-0 w-screen sm:h-24 bg-white z-40 border-b-1 border-sky sm:flex sm:justify-between sm:text-xl transition-all duration-150 ease-in">
        <div class="tracking-wider flex justify-between items-center px-6 py-4 sm:px-8 md:ml-20">
            <div id="logo" class="">
                <a href="#" class="flex flex-col leading-none hover:text-fire focus:text-fire focus:outline-none transition-all duration-150 ease-in">
                    <span>nathan</span> <span>payne</span> <span class="mt-1 self-end text-xs uppercase">.dev</span>
                </a>
            </div>
            <div id="menu-icon" class="sm:hidden">
                <button class="text-dark hover:text-sky focus:text-sky focus:outline-none"
                    aria-label="Toggle Navigation Menu">
                    <svg class="h-6 w-6 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                        <path id="cross" class="hover:text-fire transition-all duration-700 ease-in-out hidden"
                            d="M10 8.586L2.929 1.515 1.515 2.929 8.586 10l-7.071 7.071 1.414 1.414L10 11.414l7.071 7.071 1.414-1.414L11.414 10l7.071-7.071-1.414-1.414L10 8.586z" />
                        <path id="ham" class="transition-all duration-700 ease-in-out"
                            d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
                    </svg>
                </button>
            </div>
        </div>
        <nav id="nav-items"
            class="px-4 pb-6 hidden transition-all duration-300 ease-in-out sm:block sm:pb-0 sm:my-auto">
            <ul class="sm:flex items-center">
                <a class="w-full h-full" href="#about">
                    <li
                        class="mt-4 px-2 py-1 rounded text-dark border border-transparent hover:border-dark nav-fade-in delay-100 sm:mt-0 sm:px-6 sm:opacity-100 sm:translate-x-0 sm:delay-75">
                        About</li>
                </a>
                <a href="#projects">
                    <li
                        class="mt-4 px-2 py-1 rounded text-dark border border-transparent hover:border-dark nav-fade-in delay-200 sm:mt-0 sm:px-6 sm:opacity-100 sm:translate-x-0 sm:delay-75">
                        Projects</li>
                </a>
                <a href="#contact">
                    <li
                        class="mt-4 px-2 py-1 rounded text-dark border border-transparent hover:border-dark nav-fade-in delay-300 sm:mt-0 sm:px-6 sm:opacity-100 sm:translate-x-0 sm:delay-75">
                        Contact</li>
                </a>
            </ul>
        </nav>
    </header>

    <main class="container mx-auto relative z-10 bg-white sm:text-lg sm:px-12 lg:px-16 xl:text-xl xl:px-24">

        <div id="bg-image" class="absolute left-0 z-5 h-full -my-10 -mx-6 sm:-mx-16 lg:-mx-32 xl:-mx-48">
            <%- include('partials/landing_svg') %>
        </div>

        <section id="landing" class="pt-2 pb-6 px-6 relative z-10 md:pb-16 md:pt-8 xl:pt-24">
            <div id="landing-content" class="w-11/12 mx-auto p-6 bg-white text-dark shadow-md rounded-lg lg:w-3/4 xl:w-3/5">
                <h1 class="w-full text-3xl font-bold text-shadow text-dark bg-opacity-50 tracking-wider sm:text-4xl lg:text-5xl">
                    <svg class="w-6 h-6 mr-2 inline-block" fill="currentColor" viewBox="0 0 20 20">
                        <path fill-rule="evenodd"
                            d="M3.293 9.707a1 1 0 010-1.414l6-6a1 1 0 011.414 0l6 6a1 1 0 01-1.414 1.414L11 5.414V17a1 1 0 11-2 0V5.414L4.707 9.707a1 1 0 01-1.414 0z"
                            clip-rule="evenodd"></path>
                    </svg>web developer
                </h1>
                <p class="mt-6 leading-relaxed font-mav lg:text-xl md:mt-8">
                    Building anything from simple websites to fullstack apps.
                </p>
                <p class="mt-2 leading-relaxed font-mav  sm:text-xl md:mt-5">
                    Let’s talk about what you need for your online business.
                </p>
                <div class="flex flex-col justify-start my-10 font-mav text-white text-shadow sm:text-lg md:flex-row">
                    <a role="button"
                        class="btn bg-fire text-center shadow-sm hover:bg-dark focus:bg-sky transition ease-in-out duration-100"
                        href="#contact">Contact Me</a>
                    <a role="button" class="btn mt-3 text-center shadow-sm hover:bg-dark focus:bg-sky transition ease-in-out duration-100 md:ml-6 md:mt-0"
                        href="#projects">Projects</a>
                </div>
                <div id="social" class="w-32 pt-1 flex justify-between text-2xl">
                    <!-- SOCIAL MEDIA ICONS HERE -->
                    <a class=" focus:bg-cloud" href="https://github.com/Nathan-Payne"><i
                            class="fab fa-github hover:text-fire cursor-pointer"></i></a>
                    <a class=" focus:bg-cloud" href=""><i
                            class="fab fa-linkedin hover:text-fire cursor-pointer"></i></a>
                    <a class=" focus:bg-cloud" href="#contact"><i
                            class="far fa-envelope hover:text-fire cursor-pointer"></i></a>
                </div>
            </div>
        </section>

        <section id="about" class="w-full bg-white font-mav container relative z-10 px-5 pb-20 mt-20 pt-10 shadow-lg rounded-lg">
            <h1 class="py-3 text-2xl uppercase font-bold tracking-wider border-b border-gray-800 md:text-4xl">About</h1>
            <p class="mt-4 md:mt-8">
                Hello there, I am a UK based freelance web developer providing functional desktop and mobile
                friendly responsive websites.
            </p>
            <p class="mt-6">
                Let me translate that, as your developer you can expect:
            </p>
            <ul class="mt-4 md:mt-10 md:grid md:grid-cols-2 md:col-gap-20 md:row-gap-16">
                <li class="mt-5 md:mt-0 md:col-span-2"><span class="p-1 bg-cloud font-bold md:block md:w-full">- Delivery of
                        high performance websites.</span> My priority: users are less likely to click away if your site loads instantly, google also ranks you higher in search results creating more opportunities.
                    The 'feel' of your site depends on its speed and providing the best experience leads to sales, online or offline.
                </li>
                <li class="mt-5 md:mt-0"><span class="p-1 bg-cloud font-bold md:block md:w-full">- Responsive design</span> In 2020+ most users are viewing the web through a mobile browser so
                    I ensure sites are up to spec at these small sizes. 
                </li>
                <li class="mt-5 md:mt-0"><span class="p-1 bg-cloud font-bold md:block md:w-full">- Your goals in mind.</span> I
                    build with the aims of your business at the forefront, whoever your target audience is.</li>
                <li class="mt-5 md:mt-0"><span class="p-1 bg-cloud font-bold md:block md:w-full">- Communication.</span> Weekly
                    updates via phone or email can be arranged so you always know how the project is progressing.</li>
                <li class="mt-5 md:mt-0"><span class="p-1 bg-cloud font-bold md:block md:w-full">- Support.</span> Longer term
                    support/management is an optional service provided at request.</li>
            </ul>
            <!-- <p class="mt-16 font-mono leading-tight text-sm text-right">
                Other talents may include teaching physics, surfing and the occasional
                unicycle ride &#x1F604;
            </p> -->
            <div role="button" class="mt-16 flex">
                <a href="#contact" class="btn mx-auto text-3xl text-white text-shadow focus:outline-none focus:bg-white focus:text-ocean hover:bg-fire">Let's Talk</a>
            </div>
        </section>

        <section id="projects" class="w-full px-5 pb-8 pt-10 mt-24 bg-white font-mav text-dark relative z-10 shadow-lg rounded-lg">
            <h1 class="py-4 text-2xl uppercase font-bold bg-opacity-50 tracking-wider md:text-4xl">Projects</h1>
            <article class="py-6 border-t border-gray-800 flex flex-wrap md:flex-no-wrap xl:mb-8">
                <div class="mb-2 pr-4 relative flex flex-col flex-wrap font-mono md:w-32 md:mb-0 md:flex-shrink-0">
                    <span class="tracking-wide font-medium text-ocean">Client Work</span>
                    <span class="w-48 md:absolute top-250 text-sky text-sm text-direction-vert">Oct 2019 - present (ongoing updates)</span>
                </div>
                <div class="md:flex-grow">
                    <h2 class="text-2xl font-semibold mb-2">Square Circle</h2>
                    <div class="bg-cloud shadow-custom">
                        <a href="http://194.5.157.245/" target="_blank" class="">
                            <img class="my-5 hover:opacity-75" src="/images/squarecircle_1.JPG"
                                alt="Square Circle example image">
                        </a>
                    </div>
                    <div class="project-content relative overflow-hidden pb-3 mb-10">
                        <button type="button"
                            class="expand-detail focus:outline-none focus:text-sky hover:text-fire"><span
                                class="bg-white px-8 border border-gray-700">More details...</span></button>
                        <p class="mb-4">
                            Freelance project implementing a bespoke design.
                            The primary challenges on this project were a large number of high quality images loading in
                            reasonable time
                            and having future image uploads managed without a developer.
                        </p>
                        <p class="mb-4">
                            Choosing the <span class="text-highlight">Cloudinary API</span> allowed images to be
                            transformed into the latest web compression formats (e.g. webp) at
                            multiple resolutions, the most appropriate resolution is then requested dependent on the
                            users screen size.
                        </p>
                        <p class="mb-6">
                            The result: a lighter and faster website allowing users to reach their desired content in
                            less time. See the github for a few examples.
                        </p>
                    </div>
                    <h3 class="text-xl font-mono uppercase border-b-1 border-sky mb-2">Technologies</h3>
                    <ul class="text-lg mb-2">
                        <li>html (via ejs templating)</li>
                        <li>css</li>
                        <li>javascript</li>
                        <li>node.js + express</li>
                        <li>mongodb</li>
                        <li>cloudinary api</li>
                    </ul>
                    <div class="font-mono text-2xl mt-8">
                        <a href="http://194.5.157.245/"
                            class="text-fire inline-flex items-center font-bold hover:bg-cloud hover:text-sky focus:bg-cloud">
                            live site
                            <svg class="w-4 h-4 ml-1" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"
                                fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M5 12h14"></path>
                                <path d="M12 5l7 7-7 7"></path>
                            </svg>
                        </a>
                        <a href="https://github.com/Nathan-Payne/Square-Circle"
                            class="text-fire inline-flex items-center font-bold hover:bg-cloud hover:text-sky focus:bg-cloud sm:ml-6">
                            view code
                            <svg class="w-4 h-4 ml-1" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"
                                fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M5 12h14"></path>
                                <path d="M12 5l7 7-7 7"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </article>

            <article class="py-6 flex flex-wrap border-t border-gray-800 md:flex-no-wrap xl:mb-8">
                <div class="mb-2 pr-4 relative flex flex-col flex-wrap font-mono md:w-32 md:mb-0 md:flex-shrink-0">
                    <span class="tracking-wide font-medium text-ocean">Personal Project</span>
                    <span class="w-48 md:absolute top-250 text-sky text-sm text-direction-vert">July 6th - 17th 2019</span>
                </div>
                <div class="md:flex-grow">
                    <h2 class="text-2xl font-semibold mb-2">PRNT E-commerce Mockup</h2>
                    <a class="bg-cloud" target="_blank" href="/images/prnt_1.jpg">
                        <img class="my-5 shadow-custom" src="/images/prnt_1.JPG" alt="PRNT e-commerce example image">
                    </a>
                    <div class="project-content relative overflow-hidden pb-3 mb-10">
                        <button type="button"
                            class="expand-detail focus:outline-none focus:text-sky hover:text-fire"><span
                                class="bg-white px-8 border border-gray-700">More details...</span></button>
                        <p class="mb-4">
                            Refactoring a mock e-commerce app built from "The Modern Javascript Bootcamp" 2019. The
                            purpose of the extension was to solidfy use of HTML/CSS features including <span
                                class="text-highlight">flex-box</span> and <span class="text-highlight">grid</span>.
                        </p>
                        <p class="mb-4">
                            The changes made in this repo update the HTML and CSS to use a mobile first responsive
                            design, they are a first draft toward a more unique e-commerce store. This required
                            additional routes in the <span class="text-highlight">node backend</span> as well as <span
                                class="text-highlight">client-side javascript</span> such as filtering images pulled
                            from a database.
                        </p>
                        <p class="mb-6">
                            The app itself was built alongside a curriculum which included use of promises/<span
                                class="highlight-text">asynchronus</span> javascript, connecting to + parsing responses
                            from API's, command line tools, javascript classes, authentication and <span
                                class="text-highlight">form validation</span>.
                        </p>
                    </div>
                    <h3 class="text-xl font-mono uppercase border-b-1 border-sky mb-2">Technologies</h3>
                    <ul class="text-lg mb-2">
                        <li>html</li>
                        <li>css</li>
                        <li>javascript</li>
                        <li>node.js + express</li>
                    </ul>
                    <div class="font-mono text-2xl mt-8">
                        <!-- <a href="" class="text-fire inline-flex items-center mt-4 hover:bg-cloud hover:text-sky focus:bg-cloud">
                            live site
                            <svg class="w-4 h-4 ml-1" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path d="M5 12h14"></path>
                                <path d="M12 5l7 7-7 7"></path>
                            </svg>
                        </a> -->
                        <a href="https://github.com/Nathan-Payne/PRNT_ecommerce"
                            class="text-fire inline-flex items-center font-bold hover:bg-cloud hover:text-sky focus:bg-cloud">
                            view code
                            <svg class="w-4 h-4 ml-1" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"
                                fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M5 12h14"></path>
                                <path d="M12 5l7 7-7 7"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </article>

            <article class="py-6 flex flex-wrap border-t border-gray-800 md:flex-no-wrap">
                <div class="mb-2 pr-4 relative flex-shrink-0 flex flex-col font-mono md:w-32 md:mb-0 md:flex-shrink-0">
                    <span class="tracking-wide font-medium text-ocean">Personal Project</span>
                    <span class="w-48 text-sky text-sm md:absolute top-250 text-direction-vert">July 23rd - 28th 2020</span>
                </div>
                <div class="md:flex-grow">
                    <h2 class="text-2xl font-semibold mb-2">Personal Portfolio V1</h2>
                    <div class="bg-cloud shadow-custom">
                        <img class="my-5" src="/images/portfolio_1.JPG" alt="Javascript code example">
                    </div>
                    <div class="project-content relative overflow-hidden pb-3 mb-10">
                        <button type="button"
                            class="expand-detail focus:outline-none focus:text-sky hover:text-fire"><span
                                class="bg-white px-8 border border-gray-700">More details...</span></button>
                        <p class="mb-4">
                            This site is built using a node.js backend with <span class="text-highlight">Tailwind
                                CSS</span> classes styling each element. Some simple javascript is used to animate various elements.
                        </p>
                        <p class="mb-4">
                            Tailwind is a lower level css framework which adds more intuitive classes to the HTML but requires almost no custom CSS, no naming of custom classes, no context switching and
                            therefore easily reusable modular site components.
                        </p>
                        <p class="mb-4">
                            I chose Tailwind because it prevents a large and hard to navigate css file which takes more time to work in, leads to hard to find conflicts and uneccessary css overwrites.
                        </p>
                        <p class="mb-4">
                            It is used here as a plugin through <span class="text-highlight">POSTcss</span> which
                            includes useful tools like <span class="text-highlight">auto-prefixer</span> (increasing
                            browser compatability) and <span class="text-highlight">purgeCSS</span> (reducing Tailwinds final build size to < 10kb.) 
                        </p>
                        <p class="mb-6">
                            To deploy I use <span class="text-highlight">Nginx</span> as a reverse proxy on a <span class="text-highlight">linux</span> server. This has given me familiarity with command line tools, process managers and <span class="text-highlight">SSL</span> certificates. 
                        </p>
                    </div>
                    <h3 class="text-xl font-mono uppercase border-b-1 border-sky mb-2">Technologies</h3>
                    <ul class="text-lg mb-2">
                        <li>html</li>
                        <li>tailwind css</li>
                        <li>post-css</li>
                        <li>javascript</li>
                        <li>node.js + express</li>
                        <li>nginx</li>
                    </ul>
                    <div class="font-mono text-2xl mt-8">
                        <p class="text-fire font-bold inline-flex items-center mt-4 hover:bg-cloud hover:text-sky focus:bg-cloud">
                            It's this website <<
                        </p>
                        <a href="https://github.com/Nathan-Payne/"
                            class="text-fire inline-flex items-center font-bold hover:bg-cloud hover:text-sky focus:bg-cloud sm:ml-6">
                            view code
                            <svg class="w-4 h-4 ml-1" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"
                                fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M5 12h14"></path>
                                <path d="M12 5l7 7-7 7"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </article>

        </section>

        <section role="form" id="contact" class="container px-16 pt-12 my-20 pb-6 mx-auto bg-sky shadow-lg rounded-lg text-white text-shadow relative z-10 lg:text-xl"
            aria-label="Contact Information">
            <div class="flex flex-col text-center w-full mb-6">
                <h1 class="py-2 mb-2 text-2xl font-bold border-b border-t border-white tracking-wider md:text-4xl">Contact</h1>
                <p class="mx-auto pt-2 leading-relaxed lg:w-2/3">
                    Get in touch for a free quote. 
                </p>
            </div>
            <div class="mx-auto md:w-2/3">
                <form class="flex flex-wrap" aria-label="Contact Form">
                    <div class="p-2 w-full sm:w-1/2">
                        <label for="name">Name</label>
                        <input id="name" name="name" autocomplete="given-name"
                            class="w-full px-4 py-2 mt-1 rounded border border-gray-700 focus:outline-none focus:border-sky"
                            type="text">
                    </div>
                    <div class="p-2 w-full sm:w-1/2">
                        <label for="email">E-mail</label>
                        <input id="email" name="email" autocomplete="email"
                            class="w-full px-4 py-2 mt-1 rounded border border-gray-700 focus:outline-none focus:border-sky"
                            type="email">
                    </div>
                    <div class="p-2 w-full">
                        <label for="message">Message</label>
                        <textarea id="message" name="message" autocomplete="off"
                            class="w-full h-48 px-4 py-2 mt-1 rounded border border-gray-700 focus:outline-none focus:border-sky resize-none block"
                            placeholder=""></textarea>
                    </div>
                    <div class="p-2 mt-4 w-full">
                        <button type="submit"
                            class="btn bg-fire mx-auto text-white text-shadow flex border border-dark shadow-lg focus:bg-white focus:text-ocean hover:bg-white hover:text-ocean">send
                            </button>
                    </div>
                </form>
                <div class="p-2 pt-4 mt-6 w-full border-t border-white text-center">
                    <a href="#" class="text-white hover:bg-cloud hover:text-dark focus:outline-none focus:text-ocean">top
                        <svg class="w-6 h-6 inline-block" fill="currentColor"
                            viewBox="0 0 20 20">
                            <path fill-rule="evenodd"
                                d="M3.293 9.707a1 1 0 010-1.414l6-6a1 1 0 011.414 0l6 6a1 1 0 01-1.414 1.414L11 5.414V17a1 1 0 11-2 0V5.414L4.707 9.707a1 1 0 01-1.414 0z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </a>
                </div>
            </div>
        </section>

        <footer></footer>
    </main>

    <script type="text/javascript" src="scripts/script.js"></script>
</body>

</html>