<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nathan Payne | Freelance web developer</title>
    <meta name="description"
        content="Freelance web developer building the front and backends of online business in the UK">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
</head>

<body class="font-mono text-lg text-cloud antialiased bg-dark">

    <header class="border-b-1 border-sky sm:flex sm:justify-between sm:text-xl xl:text-xl">
        <div class="tracking-wider flex justify-between items-center px-6 py-4 sm:px-8 md:ml-20">
            <div id="logo" class="flex flex-col leading-none">
                <span>nathan</span> <span>payne</span> <span class="mt-1 self-end text-xs uppercase">.dev</span>
            </div>
            <div id="menu-icon" class="sm:hidden">
                <button class="text-gray-500 hover:text-white focus:text-white focus:outline-none"
                    aria-label="Toggle Navigation Menu">
                    <svg class="h-6 w-6 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                        <path id="cross" class="hover:text-fire transition-all duration-700 ease-in-out hidden"
                            d="M10 8.586L2.929 1.515 1.515 2.929 8.586 10l-7.071 7.071 1.414 1.414L10 11.414l7.071 7.071 1.414-1.414L11.414 10l7.071-7.071-1.414-1.414L10 8.586z" />
                        <path id="ham" class="transition-all duration-700 ease-in-out"
                            d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
                    </svg>
                </button>
            </div>
        </div>
        <nav id="nav-items" class="px-4 pb-6 hidden transition-all duration-300 ease-in-out sm:block sm:pb-0 sm:my-auto">
            <ul class="sm:flex items-center">
                <a class="w-full h-full" href="#about">
                    <li
                        class="mt-4 px-2 py-1 rounded hover:bg-gray-800 hover:text-sky nav-fade-in delay-100 sm:mt-0 sm:px-6 sm:opacity-100 sm:translate-x-0 sm:delay-75">
                        About</li>
                </a>
                <a href="#projects">
                    <li
                        class="mt-4 px-2 py-1 rounded hover:bg-gray-800 hover:text-sky nav-fade-in delay-200 sm:mt-0 sm:px-6 sm:opacity-100 sm:translate-x-0 sm:delay-75">
                        Projects</li>
                </a>
                <a href="#contact">
                    <li
                        class="mt-4 px-2 py-1 rounded hover:bg-gray-800 hover:text-sky nav-fade-in delay-300 sm:mt-0 sm:px-6 sm:opacity-100 sm:translate-x-0 sm:delay-75">
                        Contact</li>
                </a>
            </ul>
        </nav>     
    </header>

    <main class="relative z-10 sm:text-lg sm:px-16 lg:px-48 xl:text-xl xl:px-48">
        <section id="landing">
            <section id="landing" class="pt-10 pb-6 px-6 relative z-10 sm:-mx-16 md:pb-16 lg:-mx-48 xl:-mx-48">
                <div id="bg-image" class="absolute z-5 w-full h-full -my-10 -mx-6">
                    <img class="w-full h-full opacity-10 object-cover"
                        src="https://images.unsplash.com/photo-1529465230221-a0d10e46fcbb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"
                        alt="Image of developer working">
                </div>
                <div id="landing-content" class="relative z-10 sm:w-4/5 xl:w-1/2 xl:ml-10">
                    <h1
                        class="w-full text-3xl font-bold bg-gray-800 bg-opacity-50 tracking-wider sm:ml-6 sm:text-4xl md:ml-12 md:mt-12 md:text-5xl xl:mt-8">
                        <svg class="w-6 h-6 mr-2 inline-block" fill="currentColor" viewBox="0 0 20 20">
                            <path fill-rule="evenodd"
                                d="M3.293 9.707a1 1 0 010-1.414l6-6a1 1 0 011.414 0l6 6a1 1 0 01-1.414 1.414L11 5.414V17a1 1 0 11-2 0V5.414L4.707 9.707a1 1 0 01-1.414 0z"
                                clip-rule="evenodd"></path>
                        </svg>web developer
                    </h1>
                    <p class="mt-10 leading-relaxed font-mav sm:ml-6 sm:text-xl md:ml-12 md:mt-10">
                        Building anything from simple websites to fullstack apps.
                    </p>
                    <p class="mt-1 leading-relaxed font-mav sm:ml-6 sm:text-xl md:ml-12 md:mt-6">
                        Let’s talk about what you need for your online business.
                    </p>
                    <div class="flex justify-start my-12 font-mav sm:ml-6 sm:text-lg md:ml-12 ">
                        <a role="button"
                            class="px-4 py-2 uppercase font-semibold border border-cloud rounded hover:bg-cloud hover:text-ocean focus:bg-sky transition ease-in-out duration-100"
                            href="#contact">Contact Me</a>
                        <a role="button" class="px-4 py-2 ml-4 uppercase font-semibold border border-cloud rounded 
                                            hover:bg-cloud hover:text-ocean focus:bg-sky transition ease-in-out duration-100"
                            href="#projects">Projects</a>
                    </div>
                    <div id="social" class="w-32 pt-1 flex justify-between text-2xl sm:ml-6 md:ml-12 ">
                        <!-- SOCIAL MEDIA ICONS HERE -->
                        <a class=" focus:bg-gray-800" href="https://github.com/Nathan-Payne"><i
                                class="fab fa-github hover:text-fire cursor-pointer"></i></a>
                        <a class=" focus:bg-gray-800" href=""><i class="fab fa-linkedin hover:text-fire cursor-pointer"></i></a>
                        <a class=" focus:bg-gray-800" href="#contact"><i
                                class="far fa-envelope hover:text-fire cursor-pointer"></i></a>
                    </div>
                </div>
            </section>
        </section>
        <section id="about"></section>
        <section id="projects">
            <article></article>
            <article></article>
            <article></article>
        </section>
        <section id="contact"></section>
    </main>

    <footer></footer>
</body>