<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nathan Payne | Freelance web developer</title>
    <meta name="description"
        content="Freelance web developer building the front and backends of online business in the UK">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <header>
        <h1>NathanPayne.dev</h1>
        <nav>
            <ul>
                <li><a href="">about</a></li>
                <li><a href="">projects</a></li>
                <li><a href="">contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="landing"></section>
        <section id="about"></section>
        <section id="projects">
            <article></article>
            <article></article>
            <article></article>
        </section>
        <section id="contact"></section>
    </main>

    <footer></footer>
</body>