@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700&display=swap');

@tailwind base;

@tailwind components;

/* CUSTOM COMPONENT CLASSES HERE */

:root {
	scroll-behavior: smooth;
	overflow-x: hidden;
	touch-action: manipulation;
}

/* STYLING HIGHLIGHT AND SCROLLBAR IN WEBKIT SUPPORTED BROWSERS */
::selection {
	background: #f17300;
}
::-moz-selection {
	background: #f17300;
}

::-webkit-scrollbar {
	width: 11px;
}
::-webkit-scrollbar-track {
	background: #e6e8ee;
}
::-webkit-scrollbar-thumb {
	background: #e6e8ee;
	border-radius: 6px;
	border: 1px solid #171b24;
}
::-webkit-scrollbar-thumb:hover {
	background: #0196ce;
}

.text-shadow {
	color: #e6e8ee;
	text-shadow: -1px -1px 1px rgba(255, 255, 255, .1), 1px 1px 1px rgba(0, 0, 0, .5);
}

.btn {
	@apply py-2 px-8 bg-sky border-0 rounded text-xl font-bold uppercase;
	max-width: 15rem;
}

.bg-custom-grad {
	background: rgb(0, 78, 115);
	background: linear-gradient(351deg, rgba(0, 78, 115, 0.5) 0%, rgba(1, 150, 206, 0.94) 58%);
}

.shadow-custom {
	box-shadow: 1px 1px 6px 2px rgba(153, 153, 153, 0.7);
	transition: 200ms all ease-in-out;

	&:hover {
		box-shadow: 1px 1px 12px 6px rgba(153, 153, 153, 0.5);
		transition: 200ms all ease-in-out;
	}
}

/* COMPLETE NAV SECTION */
.nav-fade-in {
	@apply opacity-0 transform translate-x-8 transition-all duration-300 ease-in-out;
}
.border-b-1 {
	border-bottom: 1px solid;
}
.opacity-10 {
	opacity: 0.1;
}
.z-5 {
	z-index: 5;
}
/* END NAV SECTION */

.text-highlight {
	@apply p-1 bg-sky bg-opacity-25 font-mono;
}

/* for collapsible descriptions */
.expand-detail {
	@apply w-full p-2 absolute flex align-bottom justify-center;
	left: 0;
	bottom: -0.5rem;
	background-image: linear-gradient(0deg, #fff, #fff 40%, rgba(0, 0, 150, 0));
}
.project-content {
	max-height: 110px;
	transition: max-height 500ms ease-out;
}
/* alternative toggleable to project details expansion via js
.active-expand {
	max-height: 507px;
	transition: max-height 500ms ease-out;
} */

.text-direction-vert {
	transform-origin: 0 0;
	transform: rotate(0deg);
}
.top-250 {
	top: 250px;
}

/* MEDIA QUERIES */

@media (min-width: 768px) {
	.text-direction-vert {
		transform-origin: 0 0;
		transform: rotate(270deg);
	}
}

@tailwind utilities;
