@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700&display=swap');

@tailwind base;

@tailwind components;

/* CUSTOM COMPONENT CLASSES HERE */

/* STYLING HIGHLIGHT AND SCROLLBAR IN WEBKIT SUPPORTED BROWSERS */
::selection {
	background: #f17300;
}
::-moz-selection {
	background: #f17300;
}

::-webkit-scrollbar {
	width: 11px;
}
::-webkit-scrollbar-track {
	background: #171b24;
}
::-webkit-scrollbar-thumb {
	background: #004e73;
	border-radius: 6px;
	border: 1px solid #171b24;
}
::-webkit-scrollbar-thumb:hover {
	background: #0196ce;
}

/* COMPLETE NAV SECTION */
.nav-fade-in {
	@apply opacity-0 transform translate-x-8 transition-all duration-300 ease-in-out;
}
.border-b-1 {
	border-bottom: 1px solid;
}
.opacity-10 {
	opacity: 0.1;
}
.z-5 {
	z-index: 5;
}
/* END NAV SECTION */

.text-highlight {
	@apply p-1 bg-sky bg-opacity-25 font-mono;
}

/* for collapsible descriptions */
.expand-detail {
	@apply w-full p-2 absolute flex align-bottom justify-center;
	left: 0;
	bottom: -0.5rem;
	background-image: linear-gradient(0deg, #171b24, #171b24 40%, rgba(0, 0, 150, 0));
}
.project-content {
	max-height: 110px;
	transition: max-height 500ms ease-out;
}
/* alternative toggleable to project details expansion via js
.active-expand {
	max-height: 507px;
	transition: max-height 500ms ease-out;
} */

/* MEDIA QUERIES */

@tailwind utilities;
